
// Talks 
ul.talk li {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	row-gap: 0px;
}

.talk-row {
	display: flex;
	justify-content: space-between;
}

.talk-links {
	display: flex;
	justify-content: left;
	gap: 10px;
}

